.images_nav{
    margin: 20px auto 20px auto;
    width: fit-content;
}

.image_nav {
    width: 200px;
    height: 125px;
    font-size: 20px;
    display: inline-block;
    margin:30px;
    
}
.image_nav a{
    text-align: right;
    color: white;
    display: block;
    padding-left: 10px;
    padding-bottom: 101px;
    text-decoration: none;
    text-shadow: -2px -1px 0 #000000ab, 2px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#tasks_img{
    background-repeat: no-repeat; 
    background-image: url('../images/tasks.jpg');
}

#about_img{
    background-repeat: no-repeat; 
    background-image: url('../images/about.jpg');
}

#contacts_img{
    background-repeat: no-repeat; 
    background-image: url('../images/contacts.jpg');
}